
div.main{
    border: 2px solid grey;
    top: 50%; 
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:5px 50px 5px;
    color:white;
    border-radius: 10px;
    background:linear-gradient(rgba(62, 62, 110, 0.5),rgba(17, 40, 75, 0.5));
} 
input,select{
padding: 7px;
outline: none;
border-radius: 10px;
border: 1px solid #555;
}
input[type=reset],input[type=submit]
{
cursor: pointer;
margin-top: 5px;
}
.wid{
width: 92%;
}

textarea{
outline: none;
resize: none;
border-radius: 10px;
}
.foot
{
text-align: center;
box-sizing: border-box;
border-bottom: 1px solid white;

}
a{
text-decoration: none;
color: white;
font-style: italic;
}
a:hover{
background-color: black;
color: green;
}
